
* { margin: 5;
	padding: 0;
	touch-action: none;
}
button {
	background: #fff;
	user-select: none;
	-moz-user-select: none;
    -ms-user-select: none;
}
body {
  overflow: hidden;
}
.game {
  display: flex;
  align-items: center;
  justify-content: center;
}
.play_zone{
	display: flex;
	align-items: center;
	flex-direction: column;
	#game_window {
		border-radius: 16px;
	}
	.brush{
		display: flex;
		align-items: center;
		flex-direction: row;
		.radio-group {
			display: flex;
			flex-direction: row;
		}
	}
}
